.article-item {
    padding: 24px 24px 12px;

    p {
        margin-bottom: 12px;
    }

    .btn-color {
        color: #777;
    }
}

.article-list-item {
    margin-bottom: 16px;
}

.article-title {
    color: inherit;
    text-decoration: none;
}